<div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <form method="post" >

                        <div class="form-group">
                            <input type="email"
                                   class="form-control"
                                   name="email"
                                   required
                                   placeholder="Email@email.com">
                        </div>

                        <div class="form-group">
                            <input type="password"
                                   class="form-control"
                                   name="password"
                                   placeholder="Password"
                                    required>
                        </div>

                        <div class="form-group">

                                <button id="submit"
                                        class="btn btn-primary btn-block"> Register </button>

                        </div>

                    </form>
                    <div><input type="button"
                                class="btn btn-secondary"
                                value="Back to the login" onClick="window.location.href='/'">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>