<ul class="navbar navbar-light" style="background-color: #e3f2fd;">
    <li class="nav-item">
        <a class="nav-link active" href="/proyects">Todos los proyectos</a>
    </li>
    <li class="nav-item">
        <a class="fas fa-plus " href="/proyects/new"> Añade un nuevo proyecto </a>
    </li>
    <li class="nav-item">
        <a class="fas fa-trash-alt  " href="/proyects/recycle-bin"> Papelera de reciclaje  </a>
    </li>
</ul>