<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Kanban APP </title>
    {{!-- Fuente utilizada ROBOTO-MONO --}}
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    {{!-- Bootstrap 4 --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {{!-- Font Awesome --}}
    <script src="https://kit.fontawesome.com/98ac4d0233.js" crossorigin="anonymous"></script>
    {{!-- Styles --}}
    <link rel="stylesheet" href="../../public/css/styles..css">
</head>
<body>

{{{body}}}

</body>
</html>